%h1 New Post

= form_for post do |f|
  %fieldset
    %dl
      %dt= f.label :title
      %dd= f.text_field :title
      %dt= f.label :body
      %dd= f.text_field :body
  %fieldset.actions
    = f.submit "Save"
