%h1 Sign in
= form_tag :user_sessions do
  %fieldset
    %dl
      %dt= label_tag :email
      %dd= text_field_tag :email
    %dl
      %dt= label_tag :password
      %dd= password_field_tag :password
    %fieldset.actions
      = submit_tag "Sign in"
